@import 'bootstrap/scss/bootstrap';

$colors: (
  'blue': $blue,
  'purple': $purple,
  'orange': $orange,
  'gray': $gray-600,
  'gray-dark': $gray-800,
);

$text-color: white;

body {
  background-color: $gray-700;
}

button {
  border-radius: 6px;
}

// default palette
.blue-secondary {
  background-color: $blue-300;
  border: 1px solid $blue-300;
  color: $text-color;

  &:hover {
    background-color: $blue-400;
    border: 1px solid $blue-400;
    color: $text-color;
  }

  &:active {
    background-color: darken($blue-400, 2%);
    border: 1px solid darken($blue-400, 2%);
    color: $text-color;
  }
}

[data-bs-theme='blue-dark'] {
  --bs-backgroud-color: #{$blue-700};
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--bs-blue);
  --bs-body-bg-rgb: #{to-rgb($blue)};
  --bs-tertiary-bg: #{$blue-600};

  .blue-secondary {
    background-color: $blue-600;
    border: 1px solid $blue-600;
    color: $text-color;
    --bs-btn-bg: #{mix($gray-600, $blue-400, .5%)};
  }
}

// lilac palette
.lilac-primary {
  padding: 0.375rem 0.75rem; // bootstrap btn padding
  background-color: $purple-500;
  border: 1px solid $purple-500;
  color: $text-color;

  &:hover {
    background-color: $purple-600;
    border: 1px solid $purple-600;
    color: $text-color;
  }

  &:active {
    background-color: darken($purple-600, 2%);
    border: 1px solid darken($purple-600, 2%);
    color: $text-color;
  }
}

.lilac-secondary {
  background-color: $purple-300;
  border: 1px solid $purple-300;
  color: $text-color;

  &:hover {
    background-color: $purple-400;
    border: 1px solid $purple-400;
    color: $text-color;
  }

  &:active {
    background-color: darken($purple-400, 2%);
    border: 1px solid darken($purple-400, 2%);
    color: $text-color;
  }
}

// apple palette
.apple-primary {
  background-color: #ff9f0a;
  border: 0.5px solid $gray-800;
  border-radius: 0;
  color: $text-color;
  padding: 10px;

  &:hover {
    background-color: darken(#ff9f0a, 5%);
    color: $text-color;
  }

  &:active {
    background-color: darken(#ff9f0a, 10%);
    color: $text-color;
  }
}

.apple-secondary {
  background-color: $gray-700;
  opacity: 0.8;
  border: 0.5px solid $gray-800;
  border-radius: 0;
  color: $text-color;
  padding: 10px;

  &:hover {
    background-color: lighten($gray-700, 5%);
    color: $text-color;
  }

  &:active {
    background-color: $gray-600;
    color: $text-color;
  }
}

.apple-number {
  background-color: $gray-600;
  opacity: 0.9;
  border: 0.5px solid $gray-800;
  border-radius: 0;
  color: $text-color;
  padding: 10px;

  &:hover {
    background-color: lighten($gray-600, 10%);
    color: $text-color;
  }

  &:active {
    background-color: $gray-500;
    color: $text-color;
  }
}

.apple-lilac {
  padding: 0.375rem 0.75rem; // bootstrap btn padding
  background-color: $purple-500;
  border-radius: 0 0 0 6px;
  color: $text-color;

  &:hover {
    background-color: $purple-600;
    color: $text-color;
  }

  &:active {
    background-color: darken($purple-600, 2%);
    color: $text-color;
  }
}

.apple-dark {
  padding: 0.375rem 0.75rem; // bootstrap btn padding
  background-color: $gray-900;
  border-radius: 0 0 6px 0;
  color: $text-color;

  &:hover {
    background-color: lighten($gray-900, 5%);
    color: $text-color;
  }

  &:active {
    background-color: lighten($gray-900, 10%);
    color: $text-color;
  }
}

.apple-color {
  margin: 0;
  border: 0.5px solid $gray-800;
  padding: 10px;
}

.apple-background {
  background-color: darken($gray-800, 3%);
  border: 0.5px solid $gray-800;

  &:hover {
    background-color: darken($gray-800, 3%);
  }

  &:active {
    background-color: darken($gray-800, 3%);
  }
}
