@import 'bootstrap/scss/bootstrap';

$colors: (
  'blue': $blue,
  'purple': $purple,
  'orange': $orange,
  'gray': $gray-600,
  'gray-dark': $gray-800,
);

$text-color: white;

body {
  background-color: $gray-700;
}

button {
  border-radius: 6px;
}

// default palette
.blue-secondary {
  background-color: $blue-300;
  border: 1px solid $blue-300;
  color: $text-color;

  &:hover {
    background-color: $blue-400;
    border: 1px solid $blue-400;
    color: $text-color;
  }

  &:active {
    background-color: darken($blue-400, 2%);
    border: 1px solid darken($blue-400, 2%);
    color: $text-color;
  }
}

// lilac palette
.lilac-primary {
  background-color: $purple-500;
  border: 1px solid $purple-500;
  color: $text-color;
  

  &:hover {
    background-color: $purple-600;
    border: 1px solid $purple-600;
    color: $text-color;
  }

  &:active {
    background-color: darken($purple-600, 2%);
    border: 1px solid darken($purple-600, 2%);
    color: $text-color;
  }
}

.lilac-secondary {
  background-color: $purple-300;
  border: 1px solid $purple-300;
  color: $text-color;

  &:hover {
    background-color: $purple-400;
    border: 1px solid $purple-400;
    color: $text-color;
  }

  &:active {
    background-color: darken($purple-400, 2%);
    border: 1px solid darken($purple-400, 2%);
    color: $text-color;
  }
}

// apple palette
.apple-button {
  border: 0.5px solid $gray-800;
  border-radius: 0;
  padding: 10px;
}

.apple-primary {
  background-color: #FF9F0A;
  border: 0.5px solid $gray-800;
  border-radius: 0;
  color: $text-color;
  padding: 10px;

  &:hover {
    background-color: darken(#FF9F0A, 5%);
    color: $text-color;
  }

  &:active {
    background-color: darken(#FF9F0A, 10%);
    color: $text-color;
  }
}

.apple-secondary {
  background-color: $gray-700;
  opacity: 0.8;
  border: 0.5px solid $gray-800;
  border-radius: 0;
  color: $text-color;
  padding: 10px;

  &:hover {
    background-color: $gray-600;
    color: $text-color;
  }

  &:active {
    background-color: darken($gray-800, 2%);
    color: $text-color;
  }
}

.apple-number {
  background-color: $gray-600;
  opacity: 0.9;
  border: 0.5px solid $gray-800;
  border-radius: 0;
  color: $text-color;
  padding: 10px;

  &:hover {
    background-color: $gray-500;
    color: $text-color;
  }

  &:active {
    background-color: darken($gray-700, 2%);
    color: $text-color;
  }
}
